body {
    background-color: #C27AA9;
    margin:0px;
    font-family: 'Akshar', sans-serif;
    color: #FAA43E;
}
header{ 
    margin: 0px;
    height: 100px;
    grid-template-columns: 15% 72% 15%;
    display: grid;
}
h1 {
    margin: 0px;
    height: 100px;
    text-align: center;
    font-size: 100px;
    
}
#directions {
    background-color:#E67400;
 Font-size: 20px;
 text-align: center;
}
#bus{
width: 200px;
height: 122px;
}
main {
    display: grid;
    grid-template-columns:  15% 70% 15%;
}

#sideBar {
    background-color: #E67400;
    height: 450px;
}
#pic1 {
    border: solid #4A747A 4px;
    width: 300px;
    height: 300px;

}
#pic2 {
    border: solid #4A747A 4px;
    width: 300px;
    height: 300px;
}
#pic3 {
    border: solid #4A747A 4px;
    width: 300px;
    height: 300px;
}
#products {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    margin-left: 35px;
}
h4 {
 font-size:30px;
 text-align: center;
 margin-top: 200px;
}